*
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!antora-registry.md
!package.json
!pnpm-lock.yaml
!lib/
!lib/**
!icons/
!icons/**
!test/
!test/**
!/.github/
!/.github/workflows/
!/.github/workflows/encoding-guard.yml
!/.editorconfig
!/.gitattributes
